<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<form th:action="@{frmProcesar}" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <div><input type="text" name="nombre" id="nombre"/></div>
        <div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <div><input type="password" name="password" id="password"/></div>
        <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
    </div>
    <div>
        <label for="email">Correo</label>
        <div><input type="email" name="email" id="email"/></div>
        <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
    </div>
    <div>
        <div><input type="submit" name="enviar" id="enviar"/></div>
    </div>
</form>
</body>
</html>