<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
:)
<form th:action="@{frmProcesarThyme}" th:object="${usuario}" method="post">
    <div>
        <label for="pais">Pais</label>
       <div>
           <select id="pais" name="pais" th:field="*{pais}">
           		<option value="">Selecciona opcion</option>
           		<option th:if="${!paises.isEmpty}" th:each="pais:${paises}" th:text="${pais}" th:value="${pais}"></option>
           </select>
       </div>
        <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>

    </div>
    <div>
        <label for="id">Id</label>
       <div>
           <input type="text" name="id" id="id" th:field="*{id}">
       </div>
        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>

    </div>
    <div>
        <label for="nombre">Nombre</label>
        <!--
        *{nombre} mapeo con thymeleaf
        #fields helper que ayuda a verificar si tiene errores con thymeleaf
        -->
        <div><input type="text" name="nombre" id="nombre" th:field="*{nombre}"/></div>
        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <div><input type="password" name="password" id="password" th:field="*{password}"/></div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">Correo</label>
        <div><input type="email" name="email" id="email" th:field="*{email}"/></div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="telefono">Telefono:</label>
        <div><input type="text" name="telefono" id="telefono" th:field="*{telefono}"></div>
        <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
    </div>
    <div>
    <label>Cuenta:</label>
    <div><input type="text" name="cuenta" id="cuenta" th:field="*{cuenta}"></div>
    <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
    </div>
    <div>
    <label>Fecha de nacimiento:</label>
    <div><input type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="yyyy-MM-dd" th:field="*{fechaNacimiento}"></div>
    <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
    </div>
    <br>
    <div>
        <div><input type="submit" name="enviar" id="enviar"/></div>
    </div>
</form>
</body>
</html>